* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300px;    
}

.title  h4{
    padding-bottom: 10px;
    font-size: 30px;
    
}

.title p {
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    margin-top: -10px;
    margin-bottom: -2px;
}

.container {
    max-width: 1500px;
    width: 75%;
    height: 85vh;
    background-color: rgb(56, 48, 48);
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
    font-weight: 50;
    color: #fff;
}

.container.title.p {
    font-size: 10px;
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0 10px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    height: 45px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-size: small;
    font-weight: 400;
    margin-bottom: 5px;
    color: #fff;
}

.user-details .input-box input {
    height: 35px;
    color: black;
    font-weight: 80px;
    width: 100%;
    outline: none;
    font-size: 15px;
    border-radius: 3px;
    padding-left: 15px;
    border: 1px solid #b96e3c;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    background-color: #f7f0e9;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #c2e3d4;
}

form input[type="radio"] {
    display: none;
}

form .button {
    padding-left: 10px;
    height: 50px;
    margin: 35px 0;
}

form .button input {
    height: 100%;
    width: 80%;
    border-radius: 10px;
    border: none;
    color: black;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #c5953c;
}

form .button input:hover {
    background: #c2e3d4;
}

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
    .user-details::-webkit-scrollbar {
        width: 5px;
    }
    
}

.titleclosebtn {
    width: 100%;
}